/* General Structure (Base) */
body {
    background-color:rosybrown;
    font-size: 22px;
    line-height: 125%;
    font-family: 'Times New Roman', serif;
}

.wrapper {
    background: wheat;
    width: 1000px;
    height:7610px;
    margin: auto;
    padding: 20px;
    border-radius: 1.5em;
    position: relative;
}

nav {
    background-color: antiquewhite;
    width: 950px;
    margin: 10px 16px;
    border-radius: 0.5em;
    padding: 10px 12px;
    text-align:center;
}

/* Links */
a {
    padding: 5px;
    text-decoration: none;
    color:rgb(104, 48, 104);
    font-weight: bold;
}

a:hover{
    padding: 5px;
    text-decoration: none;
    color:rgb(39, 64, 193);
}
/*----------------------------*/

/* On-page navigation */
.nav{
    border-radius: 0.5em;
    background-color: pink;
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav:hover {
    border-radius: 1em;
    background-color: powderblue;
    color:rgb(125, 90, 165);
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 5px;
}

.nav:hover a{
    padding: 5px;
    text-decoration: none;
    color:rgb(125, 90, 165);
    font-weight: bold;
}
/*----------------------------*/

/* Website Navigation */
.site-header {
    margin-bottom: 150px;
}

.sitenav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 600px;
    background: wheat;
    text-align: center;
    float: right;
    margin-bottom: 10px;
    margin-top: 50px;
  }
		
.navSite{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: rgba(104, 48, 104, 0.688);
    background: pink;
    box-shadow: 2px 5px;
    padding: 8px;
}
		
.navSite:hover{
     color: rgb(125, 90, 165);
     background: rgb(251, 240, 187);	
    }

.site-logo img {
    width: 300px;
    height: 150px;
    float: left;
    margin-bottom: 20px;
    margin-left: 10px;
}

/*----------------------------*/

/* Text (Main Page)*/
h1 {
    color:rgb(33, 73, 152);
    background-color: rgb(184, 250, 250);
    font-size: 60px;
    line-height: 125%;

    height: 300px;
    width: 92%;

    border: solid powderblue 20px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 12px;
    display: block;

    text-align: center;
}

h2 {
    color:rgb(12, 88, 149); 
    line-height: 125%;
    font-size: 30px;
    font-weight: bold;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
}

h3 {
    font-size: 25px;
    line-height: 125%;
    font-weight: light;
    color:rgb(48, 134, 205); 
    margin-left: 15px;

    margin-right: 15px;
}

p {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    line-height: 150%;
    
    margin-left: 15px;
    margin-right: 15px;
}
/*----------------------------*/

/* Preface fade effect */
#prefaceP {
    background: linear-gradient(to bottom, black, wheat);
    background-clip: text;
    color: transparent;
}

#prefaceP p {
    color: transparent;
}
/*----------------------------*/

/* Gallery */
.gallery-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 30px ;
    grid-column-gap: 30px ;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
    width: 850px;
    height: 950px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 15px;
}
                
.gallery-item {
    width: 300px; 
    height: 310px;
    text-align: center;
    background-color:antiquewhite;
    padding-top: 15px;
} 

.gallery-item p {
    margin: .25em 0;
    line-height: 135%;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.gallery-item img {
    width: 250px;
    height: 250px;
}

.gallery-grid:hover .gallery-item{
    filter: blur(5px);
  }

.gallery-grid .gallery-item:hover {
    filter: blur(0px);
  }
/*----------------------------*/

/* Table */
  table {
    border: solid rgb(171, 191, 227) 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color:antiquewhite;
    color: rgb(64, 89, 133)
}

th {
    border: solid rgb(171, 191, 227) 2px;
}

td {
    border: solid rgb(171, 191, 227) 2px;
    padding: 5px;
    text-align: left;
}

.legend{
    font-size: 12px;
}

.lo {
    display: inline-block;
    font-size: 18px;            
}

ol {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tableDiv p {
    font-size: 12px;
}

/* Trash */
#tableDiv:has(.legend #legendTrash:hover) #trash1{ color: plum;}

#tableDiv:has(.legend #legendTrash:hover) #trash2{ color: plum;}

#tableDiv:has(.legend #legendTrash:hover) #trash3{ color: plum;}

.legend #legendTrash:hover { color: plum;}

/* Group recycling */
#tableDiv:has(.legend #legendCardboard:hover) #packing1{ color: red;}

#tableDiv:has(.legend #legendCardboard:hover) #packing2{ color: red;}

.legend #legendCardboard:hover { color: red;}

/* Replacement */
#tableDiv:has(.legend #legendSwap:hover) #swap{ color: mediumaquamarine;}

.legend #legendSwap:hover { color: mediumaquamarine;}

/* Recycling */
#tableDiv:has(.legend #legendRecycle:hover) #rec1{ color: mediumslateblue;}

#tableDiv:has(.legend #legendRecycle:hover) #rec2{ color: mediumslateblue;}

.legend #legendRecycle:hover {color: mediumslateblue;}
/*----------------------------*/

/* Footer for Main Page, brings links to bottom too */
.footer {
    margin-top: 20px;
    background: repeating-linear-gradient(wheat, rgb(252, 215, 252));
    height: 60px;
    width: 100%;
    border-radius: 1.5em;
    position: relative;
    padding-top:30px;

    position: absolute;
    bottom: 0;
    left: 0;
}

.footer a {
    width: 260px;
    text-align: center;
    float: right;
    margin-left: 12px;
    margin-right: 42px;
    font-size: 22px;
}

.footer a:hover {
    background-color: transparent;
    border-radius: 0em;
    margin-bottom: 2px;
    margin-left: 12px;
    margin-right: 22px;
    box-shadow: 0px 0px;
    font-size: 22px;
}
/*----------------------------*/

/* About the Author Page (Slight changes from Main Page, rest is carried over)*/

#authorPage {
    height: 1200px;
}

.me {
    height: 400px;
}

.me_image {
    float:left;
    padding: 2px;
    width: 32%;
    height: (390x0.9)px;
    margin-right: 40px;
}

#author {
    width: 55%;
    height: 335px;
    float: right;
    margin: 0px;
}

/* (The Theory/Expanded Preface page) */

#theoryPage {
    height: 4600px;
}

/* (The Map page) */

#mapPage {
    height: 1500px;
}

#map {
    margin-left: 60px;
    float: left;
    border: 10px solid #c27c27c7;
}

#mapPage ul{
    float: right;
    margin-left: 20px;
    margin-right: 60px;
    font-size: 20px;
    width: 225px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 125%;
}

/* (The Archive page) */

#archivePage {
    height: 500px;
}