body {
    background-color:rosybrown;
    font-size: 22px;
    line-height: 125%;
}

.wrapper {
    background-color:wheat;
    width: 1000px;
    height:7565px;
    margin: auto;
    padding: 20px;
    border-radius: 1.5em;
}

#authorPage {
    height: 1200px;
}

nav {
    background-color: antiquewhite;
    width: 950px;
    margin: 10px 16px;
    border-radius: 0.5em;
    padding: 10px 12px;
    text-align:center;
}

a {
    padding: 5px;
    text-decoration: none;
    color:rgb(104, 48, 104);
}

a:hover{
    padding: 5px;
    text-decoration: none;
    color:rgb(39, 64, 193);
}

.nav{
    border-radius: 0.5em;
    background-color: pink;
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    font-size: 16px;
    margin-bottom: 10px;
}

.nav:hover {
    border-radius: 1em;
    background-color: powderblue;
    color:rgb(125, 90, 165);
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 5px;
}

.nav:hover a{
    padding: 5px;
    text-decoration: none;
    color:rgb(125, 90, 165);
    font-weight: bold;
}

.site-header {
    margin-bottom: 150px;
}

.sitenav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 600px;
    background: wheat;
    text-align: center;
    float: right;
    margin-bottom: 10px;
    margin-top: 50px;
  }
		
.sitenav a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: rgba(104, 48, 104, 0.688);
    background: pink;
    box-shadow: 2px 5px;
    padding: 8px;
	  }
		
.sitenav a:hover{
     color: rgb(125, 90, 165);
     background: powderblue;	
    }

.site-logo img {
    width: 300px;
    height: 150px;
    float: left;
    margin-bottom: 20px;
    margin-left: 10px;
}

.navSite{
    border-radius: 0.5em;
    background-color: antiquewhite;
    text-decoration: none;
    padding: 5px;
    margin-right:10px;
    margin-left:10px;
}

h1 {
    color:rgb(33, 73, 152);
    background-color: rgb(184, 250, 250);
    font-size: 60px;
    line-height: 125%;

    height: 300px;
    width: 92%;

    border: solid powderblue 20px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 12px;
    display: block;

    text-align: center;
}


h2 {
    color:rgb(12, 88, 149); 
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.prefaceP {
    background: linear-gradient(to bottom, black, wheat);
    background-clip: text;
    color: transparent;
}

h3 {
    font-size: 25px;
    color:rgb(12, 88, 149); 
    margin-left: 15px;
    margin-right: 15px;
}

p {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 150%;
    margin-left: 15px;
    margin-right: 15px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 30px ;
    grid-column-gap: 30px ;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
    width: 850px;
    height: 950px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 15px;
}
                
.gallery-item {
    width: 300px; 
    height: 310px;
    text-align: center;
    background-color:antiquewhite;
    padding-top: 15px;
} 

.gallery-item p {
    margin: .25em 0;
    line-height: 135%;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.gallery-item img {
    width: 250px;
    height: 250px;
}

.gallery-grid:hover .gallery-item{
    filter: blur(5px);
  }

.gallery-grid .gallery-item:hover {
    filter: blur(0px);
  }

table {
    border: solid rgb(171, 191, 227) 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color:antiquewhite;
    color: rgb(64, 89, 133)
}

th {
    border: solid rgb(171, 191, 227) 2px;
}

td {
    border: solid rgb(171, 191, 227) 2px;
    padding: 5px;
}

.legend{
    font-size: 12px;
}

.lo {
    display: inline-block;
    font-size: 18px;            
}

.me {
    height: 400px;
}

.me_image {
    float:left;
    padding: 2px;
    width: 32%;
    height: (390x0.9)px;
    margin-right: 40px;
}

#author {
    width: 55%;
    height: 310px;
    float: right;
    margin: 0px;
}


#tableDiv:has(.legend #legendTrash:hover) #trash1{
    color: plum;
}

#tableDiv:has(.legend #legendTrash:hover) #trash2{
    color: plum;
}

#tableDiv:has(.legend #legendTrash:hover) #trash3{
    color: plum;
}

.legend #legendTrash:hover {
    color: plum;
}

#tableDiv:has(.legend #legendCardboard:hover) #packing1{
    color: red;
}

#tableDiv:has(.legend #legendCardboard:hover) #packing2{
    color: red;
}

.legend #legendCardboard:hover {
    color: red;
}

#tableDiv:has(.legend #legendSwap:hover) #swap{
    color: mediumaquamarine;
}

.legend #legendSwap:hover {
    color: mediumaquamarine;
}

#tableDiv:has(.legend #legendRecycle:hover) #rec1{
    color: mediumslateblue;
}

#tableDiv:has(.legend #legendRecycle:hover) #rec2{
    color: mediumslateblue;
}

.legend #legendRecycle:hover {
    color: mediumslateblue;
}

.footer {
    margin-top: 60px;
    background: repeating-linear-gradient(rgb(252, 215, 252), #bbecf2);
    height: 60px;
    border-radius: 1.5em;
    position: relative;
    padding-top:100px;
}

.footer a {
    width: 155px;
    margin-bottom: 2px;
    font-size: 22px;
}