body {
    background-color:rosybrown;
}

.wrapper {
    background-color:wheat;
    width: 1000px;
    height:7590px;
    margin: auto;
    padding: 10px;
}

nav {
    background-color: antiquewhite;
    width: 950px;
    margin: 10px 16px;
    border-radius: 0.5em;
    padding: 10px 12px;
    text-align:center;
}

a {
    padding: 5px;
    text-decoration: none;
    color:rgb(104, 48, 104);
}

a:hover{
    padding: 5px;
    text-decoration: none;
    color:rgb(39, 64, 193);
}


.nav{
    border-radius: 0.5em;
    background-color: pink;
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}

.nav:hover {
    border-radius: 1em;
    background-color: powderblue;
    color:rgb(125, 90, 165);
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 5px;
}

.nav:hover a{
    padding: 5px;
    text-decoration: none;
    color:rgb(125, 90, 165);
    font-weight: bold;
}

.site-header {
    margin-bottom: 80px;
}

.sitenav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 600px;
    background: wheat;
    text-align: center;
    float: right;
    margin: 20px;
  }
		
.sitenav a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: rgba(104, 48, 104, 0.688);
    background: pink;
    box-shadow: 2px 5px;
    padding: 8px; /* adjust as needed */
	  }
		
.sitenav a:hover{
     color: rgb(125, 90, 165);
     background: powderblue;	
    }

.site-logo-name {
    width: 200px;
    height: 80px;
    float: left;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    z-index: 1;
}


.navSite{
    border-radius: 0.5em;
    background-color: antiquewhite;
    text-decoration: none;
    padding: 5px;
    margin-right:10px;
    margin-left:10px;
}

h1 {
    color:rgb(33, 73, 152);
    background-color: rgb(184, 250, 250);
    font-size: 60px;
    line-height: 125%;
    font-style: oblique;

    height: 300px;
    width: 92%;

    border: solid powderblue 20px;
    padding: 10px;
    margin: 12px auto;
    display: block;

    text-align: center;
    z-index: 2;
}

h2 {
    color:rgb(12, 88, 149); 
    font-size: 30px;
}

h3 {
    font-size: 25px;
    color:rgb(12, 88, 149); 
}

p {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 150%;
}

.gallery-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 30px ;
    grid-column-gap: 30px ;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
    width: 850px;
    height: 950px;
    margin-bottom: 85px;
    margin-right: 80px;
    margin-left: 5px;
}
                
.gallery-item {
    width: 300px; 
    height: 310px;
    text-align: center;
    background-color:antiquewhite;
    padding-top: 15px;
} 

.gallery-item p {
    margin: .25em 0;
    line-height: 135%;
}

.gallery-item img {
    width: 250px;
    height: 250px;
}

.gallery-grid:hover .gallery-item{
    filter: blur(5px);
  }

.gallery-grid .gallery-item:hover {
    filter: blur(0px);
  }

table {
    border: solid rgb(171, 191, 227) 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color:antiquewhite;
    color: rgb(64, 89, 133)
}

th {
    border: solid rgb(171, 191, 227) 2px;
}

td {
    border: solid rgb(171, 191, 227) 2px;
    padding: 5px;
}

.lo {
    display: inline-block;
    font-size: 18px;            
}

.me_image {
    float:left;
    padding: 2px;
    width: 32%;
    height: (390x0.9)px;
    margin-right: 40px;
}